
body {
font-family: 'Hind', sans-serif;
}

.icon-top {
background: #000000;
}
.icon-top a {
color: #ffffff;
font-size: 25px;
transition: color 1s ease;
}
.icon-top a:hover {
color: #000000;
}

.text-text{
  color: #ffffff;
  font-size: 20px;
}

.navbar {
background: #ffffff!important;
padding: 10px 20px!important;
transition: padding 2s ease;
}
.navbar-background {
padding: 2px 20px!important;
}
.navbar-brand {
color: #282828;
border: 3px solid #ffffff;
font-size: 30px;
transition: all 2s;
}

.navbar-brand:hover {
background: #282828;
color: #282828;
}
.navbar-toggler {
border: 3px solid #282828;
padding: 3px;
}
.bar1,.bar2,.bar3 {
width: 23px;
height: 3px;
margin: 5px;
background: #282828;
transition: all 0.5s ease;
}

.change .bar1 {
transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
opacity: 0;
}
.change .bar3 {
transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
color: #282828;
font-size: 25px;
padding: 10px 20px!important;
border-radius: 5px;
transition: background 2s ease;
}
.nav-link:hover {
background: #cfd1d0;
color: #000000;
}

.nav-active {
color: #ffffff;
font-size: 25px;
padding: 10px 20px!important;
border-radius: 5px;
background: rgba(255, 255, 255, 0.6);
transition: background 2s ease;
}
.nav-active:hover {
background: #000000;
}

.drop_elem {
color: #000000;
padding: 10px 20px!important;
border-radius: 5px;
transition: background 2s ease;
}
.drop_elem:hover {
background: #cfd1d0;
color: #000000;
}
.dropdown-menu {
background: #ffffff!important;
}

.item-1,.item-2,.item-3 {
min-height: 60vh;
clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
}
.item-1 {
background: linear-gradient(to right, rgba(255, 255, 255, 0.9),
rgba(0, 0, 0, 0.5)), url(../image/pintura.jpg) center/cover fixed no-repeat;
}
.item-2 {
background: linear-gradient(to right, rgba(255, 255, 255, 0.9),
rgba(0, 0, 0, 0.5)), url(../image/always.jpg) center/cover fixed no-repeat;
}
.item-3 {
background: linear-gradient(to right, rgba(255, 255, 255, 0.9),
rgba(0, 0, 0, 0.5)), url(../image/_MG_7445_1.JPG) center/cover fixed no-repeat;
}

.slide-btn {
background: #cfd1d0;
color: #4f4e4e;
border: 2px solid #cfd1d0;
transition: all 1s;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.slide-btn:hover {
color: #282828;
background: #ffffff;
border-color: #ffffff;
transform: translateY(-7px);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.title h1 {
color: #282828;
}
.title h3 {
color: #4f4e4e;
}
.title-underline {
height: 5px;
width: 250px;
background: #282828;
margin: -28px auto 0 auto;
}
.title a {
color: #000000;
font-size: 30px;
padding: 0px 10px;
display: inline-block;
background: #ffffff;
}

.skills-icon {
background: #4f4e4e;
clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
transition: all 1s ease;
}
.skills-icon:hover {
background: #ffffff;
}
.skills-icon span {
font-size: 100px;
color: #ffffff;
transition: all 1s ease-in-out;
}
.skills-icon:hover span {
color: #4f4e4e;
}

#about .title a {
background: #a2a3a3;
color: #000000
}
#about {
min-height: 40vh;
background: #a2a3a3;
clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
#about a {
color: #ffffff;
background: #a2a3a3;
border: 2px solid #000000;
transition: all 1s;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

#about a:hover {
color: #ffffff;
background: #000000;
border-color: #a2a3a3;
transform: translateY(-7px);
}

.about-progress {
min-height: 50vh;
outline: 5px solid #282828;
outline-offset: 10px;
}
.progress-bar {
background: #a2a3a3;
}


#projects .card {
background: transparent!important;
border: none;
position: relative;
}
#projects .card-img-top {
border-radius: 0!important;
}
.img-container {
position: relative;
overflow: hidden;
background: rgb(162, 163, 163);
}

.img-container img {
transition: all 1s ease-in-out;
opacity: 1;
}
.img-container:hover .project-image {
opacity: 0.3;
transform: scale(1.3);
}

.search-link {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 4rem;
color: #4f4e4e;
transition: margin 1s ease-in-out, color 0.5s ease-in-out, opacity
0.75s ease-in-out;
margin-top: -50%;
opacity: 0;
}
.search-link:hover {
color: #4f4e4e;
}

.img-container:hover .search-link {
margin-top: 0;
opacity: 1;
}

.card-body {
background: linear-gradient(to right, rgba(255, 255, 255, 0.9),
rgba(0, 0, 0, 0.5)), url(../image/pintura.jpg) center/cover fixed no-repeat;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #a2a3a3;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #282828;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  margin: auto;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



.footer{
  background: #000000;
}

.footer a {
color: #ffffff;
font-size: 25px;
transition: color 1s ease;
}
.footer a:hover {
color: #000000;
}

.text-footer{
  color: #ffffff;
  font-size: 20px;
}
